
%btn-small {
    @include font-size(button);

    display: inline-block;
    padding: 4px 6px;

    color: color(gray, lightest);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: color(gray, dark);
    border-top: 1px solid lighten(color(gray, dark), 15%);
    border-radius: 3px;

    &:hover,
    &:focus {
        background-color: $c-key;
        border-top-color: $c-key-hl;
    }

    &:active {
        background-color: $c-key-hl-extra;
        border-top-color: $c-key-hl-extra;
    }
}

%btn {
    @include font-size(button);

    display: inline-block;
    padding: 10px 20px;

    color: color(gray, lightest);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: color(gray, dark);
    border-top: 1px solid lighten(color(gray, dark), 15%);
    border-radius: 3px;

    &:hover,
    &:focus {
        background-color: $c-key;
        border-top-color: $c-key-hl;
    }

    &:active {
        background-color: $c-key-hl-extra;
        border-top-color: $c-key-hl-extra;
    }
}

%input {
    @include font-size(input, lg);

    max-width: 100%;
    padding: 4px 6px;
    background-color: color(gray, lightest);
    border: 1px solid color(gray, lighter);
    border-radius: 3px;
}