<section class="news">
    <h5 class="news__title">Latest news</h5>
    <ul class="news__carousel" id="carousel-news">
        <li class="news__slide">
            <article class="news__item">
                <img src="http://placehold.it/270x120" alt="News title" class="news__img">
                <h6 class="news__item-title">35% discount on second purchase!</h6>
                <div class="news__teaser">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo commodi a, nulla, error eaque earum. Quaerat sequi natus amet laboriosam error quisquam, in deleniti non, voluptatibus odit sapiente illo repellat!</p>
                </div>
                <div class="news__footer">
                    <a href="#" class="news__read-more">Read more</a>
                    <span class="news__pub-date">12.05.2015</span>
                </div>
            </article>

            <article class="news__item">
                <h6 class="news__item-title">35% discount on second purchase!</h6>
                <div class="news__teaser">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo commodi a, nulla, error eaque earum. Quaerat sequi natus amet laboriosam error quisquam, in deleniti non, voluptatibus odit sapiente illo repellat!</p>
                </div>
                <div class="news__footer">
                    <a href="#" class="news__read-more">Read more</a>
                    <span class="news__pub-date">12.05.2015</span>
                </div>
            </article>
        </li>
        <li class="news__slide">
            <article class="news__item">
                <h6 class="news__item-title">35% discount on second purchase!</h6>
                <div class="news__teaser">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo commodi a, nulla, error eaque earum. Quaerat sequi natus amet laboriosam error quisquam, in deleniti non, voluptatibus odit sapiente illo repellat!</p>
                </div>
                <div class="news__footer">
                    <a href="#" class="news__read-more">Read more</a>
                    <span class="news__pub-date">12.05.2015</span>
                </div>
            </article>

            <article class="news__item">
                <img src="http://placehold.it/270x120" alt="News title" class="news__img">
                <h6 class="news__item-title">35% discount on second purchase!</h6>
                <div class="news__teaser">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo commodi a, nulla, error eaque earum. Quaerat sequi natus amet laboriosam error quisquam, in deleniti non, voluptatibus odit sapiente illo repellat!</p>
                </div>
                <div class="news__footer">
                    <a href="#" class="news__read-more">Read more</a>
                    <span class="news__pub-date">12.05.2015</span>
                </div>
            </article>
        </li>
    </ul>
</section>