.carousel {
    background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 1)), url("assets/images/pattern-tile.jpg") repeat center;

    &__inner {
        @extend %layout-inner;

        padding: 0;
    }

        &__content {
            width: 100%;
            height: 0;
            padding-top: 60.4%;

            background-size: cover;
            background-repeat: no-repeat;
        }

            &__text {
                position: absolute;
                top: 12%;
                left: 40%;
                padding-right: 20px;

                @include breakpoint(midi) {
                    top: 20%;
                }
            }

                &__title {
                    @extend %title;
                    @include font-size(18px);

                    margin-bottom: 10px;

                    text-transform: uppercase;
                    font-weight: normal;

                    @include breakpoint(mini) {
                        @include font-size(24px);
                    }

                    @include breakpoint(midi) {
                        @include font-size(title, carousel);
                    }
                }

                &__subtext {
                    @include font(special);
                    @include font-size(18px);
                    @include line-height(20px);

                    color: color(gray);

                    @include breakpoint(midi) {
                        @include font-size(28px);
                        @include line-height(30px);
                    }

                    p {
                        margin: 12px 0;
                    }
                }

                &__link {
                    @extend %btn;

                    padding: 5px 10px;

                    @include breakpoint(mini) {
                        padding: 10px 20px;
                    }
                }

            &__price-badge {
                @extend .card__price-wrap;

                top: 0 !important;
                left: 0% !important;

                @include breakpoint(mini) {
                    width: 195px !important;
                    height: 197px !important;
                }

                @include breakpoint(midi) {
                    left: 5% !important;
                    top: 10% !important;
                    width: 250px !important;
                    height: 250px !important;
                }
            }

                &__price {
                    @extend .card__price;
                    @include font-size(18px);

                    @include breakpoint(midi) {
                        @include font-size(30px);
                    }
                }
}