.card {
    @include clearfix;

    position: relative;
    padding: 20px;
    margin-bottom: 20px;

    text-align: center;
    border: 1px solid transparent;

    &:hover {
        border-color: color(gray, lighter);
    }

    @include breakpoint(micro) {
        @include span(6 of 12);

        &:nth-child(2n) {
            @include last;
        }
    }

    &--wide {
        width: 100% !important;

        text-align: left;
        border: none;
    }

    .page-content--has-sidebar & {
        @include breakpoint(mini) {
            @include span(3 of 9);

            &:nth-child(2n) {
                float: left;
            }

            &:nth-child(3n) {
                @include last;
            }

            &:nth-child(3n+1) {
                clear: left;
            }
        }
    }

    .page-content--not-has-sidebar & {
        @include breakpoint(mini) {
            @include span(3 of 12);

            &:nth-child(2n) {
                float: left;
            }

            &:nth-child(4n) {
                @include last;
            }
        }
    }

    &__img-link {
        display: block;
        position: relative;
        margin-right: 8%;

        .card--wide & {
            float: left;
        }
    }

        &__badge {
            @include font(title);

            display: inline-block;
            position: absolute;
            top: 15%;
            left: 20px;
            padding: 6px 10px;

            color: color(white);
            font-weight: 700;
            background: color(red);
        }

        &__img {

        }

    &__title-link {
        position: relative;
        z-index: 1;

        text-decoration: none;
    }

        &__title {
            @include font(title);
            @include font-size(title, card);
            @include hyphens(auto);

            margin-bottom: 0;

            color: color(gray);
            font-weight: normal;

            .card:hover & {
                color: color(gray, darker);
            }

            .card--wide & {
                margin-top: 0;

                color: color(gray, darker);
                font-weight: 700;
            }
        }

    &__excerpt {
        @include font-size(body, tease);

        color: color(gray);
        line-height: 1.4;

        h1, h2, h3, h4, h5, h6 {
            @include font-size(body, tease);
        }
    }

    &__btn {
        @extend %btn;

        .card__title-link + & {
            margin-top: 15px;
        }
    }

    &__price-wrap {
        @include font(special);
        @include font-size(18px);

        display: table;
        position: absolute;
        top: 28%;
        right: -40px;
        width: 195px;
        height: 197px;
        z-index: 0;

        color: color(white);
        font-weight: 700;
        background: url(assets/images/price-splash-fade-btm.png) no-repeat;
        background-size: contain;

        .card--wide & {
            top: auto;
            right: -70px;
            bottom: -70px;
        }

        @include breakpoint(mini) {
            @include font-size(14px);

            top: 15%;
            width: 120px;
            height: 120px;

            .card--wide & {
                top: auto;
                right: -45px;
                bottom: -45px;
            }
        }

        @include breakpoint(midi) {
            top: 30%;

            .card--wide & {
                top: auto;
                right: -45px;
                bottom: -45px;
            }
        }

        @include breakpoint(maxi) {
            @include font-size(18px);

            top: 28%;
            width: 195px;
            height: 197px;

            .card--wide & {
                top: auto;
                right: -70px;
                bottom: -70px;
            }
        }
    }

        &__price {
            display: table-cell;
            padding: 0 8px 5px 0;
            vertical-align: middle;
            text-align: center;

            &--old {
                color: color(gray, dark);
                text-decoration: line-through;
            }
        }
}

.added_to_cart {
    @extend %btn;

    padding-top: 10px !important;
}