.news {
    @extend %widget;

    @include span(6 of 12);

    @include breakpoint($bp-sidebar-break) {
        @include full;
    }

    &__title {
        @extend %title;
        @include font-size(title, widget);

        margin-bottom: 12px;
        text-transform: uppercase;
    }

    &__carousel {
        padding-left: 0;
    }

        &__slide {

        }

            &__item {
                padding-bottom: 20px;
            }

                &__img {
                    margin-bottom: 20px;
                }

                &__item-title-link {
                    text-decoration: none;
                    color: color(gray, darker);
                }

                    &__item-title {
                        @extend %title;
                        @include font-size(title, widget-sub-item);

                        margin-bottom: 20px;

                        line-height: 1.2;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                &__teaser {
                    margin-bottom: 16px;
                }

                &__footer {
                    @include clearfix();
                }

                    &__read-more {
                        font-weight: bold;
                        color: color(green);
                        text-decoration: none;

                        &:hover {
                            color: color(green, darker);
                        }
                    }

                    &__pub-date {
                        float: right;

                        color: color(gray);
                        font-style: italic;
                    }
}