.widget_knews_widget {
    @extend %widget;

    padding: 22px;

    text-align: center;
    background: color(white) url(assets/images/heart-splash-sm.png) no-repeat center 20px;
    border: 1px solid color(gray, lighter);
    border-bottom: 2px solid color(green, darker);
    border-radius: 3px;

    .page-footer__widget-title {
        @include font(title);
        @include font-size(title, newsletter-signup);

        font-weight: normal;
        text-transform: uppercase;
    }

    label {
        color: color(gray);
        font-size: 12px;
    }

    input[type="text"] {
        @extend %input;

        margin: 0 auto 20px;
    }

    [type="submit"].knewsbutton {
        @extend %btn;

        margin: 0 auto;
    }

    [type="text"].knewsemail {
        width: 100%;
    }

    fieldset.knewsemail {
        padding-bottom: 0;
    }

    fieldset.requiredtext {
        padding-top: 0;
    }
}