.page-header {
    position: relative;
    padding-bottom: 25px;

    background-color: color(white);
    border-top: 4px solid $c-key;
    box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.2);

    &:after {
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        z-index: -1;
        max-width: 1400px;
        height: 6px;
        margin: 0 auto;

        border-radius: 50%;
        background-color: rgba(200,200,200,0.2);
        box-shadow: 0 -1px 5px 1px rgba(0,0,0,0.1);

        content: "";
    }

    &__inner {
        @extend %layout-inner;
    }

        &__main {
            @include breakpoint(midi) {
                @include span(7 of 12);
            }
        }

            &__logo-block {
                display: inline-block;
                margin: 15px 0;
            }

                &__logo {

                }

            &__nav {
                position: relative;
                z-index: 1;
            }

                &__nav-items {
                    display: inline-block;
                    position: relative;
                }

                    &__nav-children {
                        display: none;
                        position: absolute;
                        top: 22px;
                        left: 0;
                        padding: 20px 10px;

                        background: transparentize(color(gray, dark), .1);

                        &:hover,
                        .page-header__nav-items:hover & {
                            display: inline-block;

                            transform: translateY(0);
                        }
                    }

                    &__nav-item {
                        @include font(title, 700);
                        @include font-size(nav, main);

                        display: inline-block;
                        position: relative;
                        margin-right: 38px;

                        color: color(gray, darker);
                        text-transform: uppercase;
                        text-decoration: none;

                        &:hover {
                            color: $c-key;
                            border-bottom: 3px solid $c-key;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &.current-menu-item {
                            color: $c-key;
                        }

                        &--child {
                            color: color(white);
                            line-height: 30px;
                            white-space: nowrap;
                        }
                    }

        &__side {
            @include clearfix;

            padding-top: 16px;

            text-align: center;

            @include breakpoint(midi) {
                @include span(5 of 12);
                @include last;

                padding-top: 42px;

                text-align: left;
            }
        }

            &__contact-block {
                float: none;
                padding: 10px 18px;

                border: 1px solid color(gray, lighter);
                background: color(gray, lightest);

                @include breakpoint(midi) {
                    float: right;
                }
            }

                [class^="page-header__contact-item"] {
                    display: inline-block;
                    margin-right: 16px;
                    margin-bottom: 5px;

                    color: color(gray);
                    text-decoration: none;

                    &:before {
                        margin-right: 10px;

                        color: $c-key;
                    }

                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
                    }

                    &:hover {
                        color: color(gray, darker);
                    }

                    @include breakpoint(midi) {
                        display: block;
                    }
                }

                &__contact-item--phone {
                    @include icon(phone);
                }

                &__contact-item--email {
                    @include icon(mail-alt);
                }

            &__side-bottom {
                display: none;
                float: right;
                margin-top: 42px;

                text-align: right;

                @include breakpoint(midi) {
                    display: block;
                }
            }

                &__search-block {
                    display: inline-block;
                }

                    &__search {
                        @include font-size(input);

                        padding: 0 18px;
                        margin-right: 1px;
                        margin-bottom: 2px;

                        line-height: 31px;
                        font-style: italic;

                        &:focus {
                            border: 2px solid $c-key;
                            outline: none;
                        }
                    }

                    &__search-submit {
                        @include icon(search);

                        height: 34px;

                        color: color(white);
                        border: none;
                        background: $c-key;

                        &:hover {
                            background: $c-key-hl;
                        }
                    }

            &__basket {
                display: inline;
                position: relative;
                margin-left: 8px;

                text-align: left;
            }

                &__basket-btn {
                    @include font-size(button, bigger);
                    @include icon(basket);

                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;

                    color: color(white);
                    line-height: 28px;
                    border: none;
                    border-top: 1px solid $c-key;
                    background: $c-key;
                    cursor: pointer;
                    outline: none;

                    &:before {
                        margin-right: 16px;
                    }

                    &:hover,
                    .page-header__basket--open & {
                        background: $c-key-hl;
                    }

                    .page-header__basket--open & {
                        border-top: 1px solid $c-key-hl-extra;
                    }
                }

                &__basket-list {
                    display: none;
                    position: absolute;
                    top: 100%;
                    top: calc(100% + 20px);
                    right: 0;
                    z-index: 3;
                    min-width: 300px;
                    padding: 22px 20px;

                    border-top: 3px solid $c-key-hl;
                    background-color: color(white);
                    box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);

                    .page-header__basket--open & {
                        display: block;
                    }
                }

                    &__basket-list-title {
                        @include font-size(title, basket-popup);

                        margin: 0 0 10px;

                        font-weight: normal;
                    }

                    &__basket-list-group {
                        padding: 0;
                        list-style-type: none;
                    }

                        &__basket-item {
                            @include clearfix;

                            position: relative;
                            margin-bottom: 20px;
                        }

                            &__basket-item-delete {
                                position: absolute;
                                top: 0;
                                right: 0;

                                font-size: 20px;
                                border: none;
                                background: none;

                                &:hover {
                                    color: color(gray);
                                }
                            }

                            &__basket-item-img {
                                float: left;
                                margin-right: 15px;
                            }

                            &__basket-item-text {
                                float: left;
                            }

                                &__basket-item-title {
                                    @include font(title, 700);
                                    @include font-size(title, basket-popup-item);

                                    margin: 0;
                                }

                                &__basket-item-detail {
                                    @include font-size(list, basket-popup);
                                    margin-top: 30px;

                                    color: color(gray);
                                }

                                    &__basket-item-qty,
                                    &__basket-item-price {
                                        @include font-size(list, basket-item-qty);
                                    }

                                    &__basket-item-qty {

                                    }

                                    &__basket-item-price {
                                        @include font(special, 700);

                                        color: color(green, lighter);
                                    }

                    &__basket-footer {
                        @include clearfix;
                    }

                        &__basket-summary {
                            float: left;
                        }

                            &__basket-summary-item {
                                @include font(title, 700);
                                @include font-size(15px);

                                text-transform: uppercase;
                            }

                                &__basket-summary-item-amount {
                                    @include font(special, 700);
                                    @include font-size(18px);

                                    color: color(green);
                                }

                        &__basket-links {
                            float: right;
                            width: 100px;
                            margin-right: 30px;
                        }

                            &__basket-link {
                                @extend %btn;

                                margin-bottom: 4px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
}