.page-content {
    &__inner {
        @extend %layout-inner;

        padding-top: 56px;

        background: url(assets/images/water-bg.png) no-repeat top right;
    }

        &__main {
            .page-content--has-sidebar & {
                @include breakpoint($bp-sidebar-break) {
                    @include span(9 of 12);
                }
            }
        }

            &__title {
                @extend %section-title;
            }

            &__content {
                @include line-height(21px);

                margin-bottom: 50px;
            }

        &__sidebar {
            @include breakpoint($bp-sidebar-break) {
                @include span(3 of 12);
                @include last;
            }
        }
}