.page-header {
    border-top: 4px solid color(green, darker);

    &__inner {
        @extend %layout-inner;
    }

        &__main {
            @include span(7 of 12);
        }

            &__logo-block {
                display: inline-block;
                margin: 15px 0;
            }

                &__logo {

                }

            &__nav {

            }

                &__nav-item {
                    @include font(title, 700);
                    @include font-size(nav, main);

                    margin-right: 38px;

                    color: color(gray, darker);
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {
                        color: lighten(color(gray, darker), 15%);
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.current-menu-item {
                        color: color(green, darker);
                    }
                }

        &__side {
            @include clearfix;
            @include span(5 of 12);
            @include last;

            padding-top: 55px;
        }

            &__contact-block {
                float: right;
                padding: 10px 18px;

                border: 1px solid color(gray, lighter);
                background: color(gray, lightest);
            }

                [class^="page-header__contact-item"] {
                    display: block;

                    color: color(gray);
                    text-decoration: none;

                    &:before {
                        margin-right: 10px;

                        color: color(green, darker);
                    }

                    &:hover {
                        color: color(gray, darker);
                    }
                }

                &__contact-item--phone {
                    @include icon(phone);
                }

                &__contact-item--email {
                    @include icon(mail-alt);
                }

            &__side-bottom {
                float: right;
                margin-top: 50px;
            }

                &__search-block {
                    display: inline-block;
                }

                    &__search {
                        @include font-size(input);

                        padding: 0 18px;
                        margin-right: 1px;

                        line-height: 31px;
                        font-style: italic;

                        &:focus {
                            border: 2px solid color(green, darker);
                            outline: none;
                        }
                    }

                    &__search-submit {
                        @include icon(search);

                        height: 34px;
                        margin-right: 8px;

                        color: color(white);
                        border: none;
                        background: color(green, darker);

                        &:hover {
                            background: lighten(color(green, darker), 4%);
                        }
                    }

            &__basket {
                display: inline-block;
                padding-left: 15px;
                padding-right: 15px;

                color: color(white);
                line-height: 29px;
                border: none;
                background: color(green, darker);

                &:hover {
                    background: lighten(color(green, darker), 4%);
                }
            }
}