$h-super-header: 35px;

.super-header {
    @include font-size(body, super-header);
    line-height: $h-super-header;
    background-color: color(gray, lightest);

    &__inner {
        @extend %layout-inner;
    }

        &__nav {
            display: inline-block;
        }

            &__item {
                //float: left;
                display: inline-block;
                margin-right: 32px;

                color: color(gray);
                text-decoration: none;
                white-space: nowrap;

                &--cart {
                    @include icon(basket);

                    width: 20px;

                    color: transparent;

                    &:before {
                        color: color(gray);
                    }

                    &:hover {
                        color: transparent !important;
                    }

                    @include breakpoint(midi) {
                        width: auto;

                        color: color(gray);

                        &:hover {
                            color: darken(color(gray), 10%) !important;
                        }
                    }
                }

                &--checkout {
                    @include icon(ok);

                    display: none;

                    @include breakpoint(midi) {
                        display: inline-block;
                    }
                }

                &:hover {
                    color: darken(color(gray), 10%);
                }

                &:last-child {
                    margin-right: 0;
                }
            }

        &__search-block {
            @extend .page-header__search-block;

            float: right;
            margin: 0 10px;

            @include breakpoint(midi) {
                display: none;
            }

            .page-header__search {
                position: relative;
                top: -1px;
                margin: 0;
            }

            .page-header__search-submit {
                height: 37px;
            }
        }

        &__selectors {
            float: right;
        }

            &__selector--lang {
                height: $h-super-header;

                width: 32px;

                @include breakpoint(midi) {
                    width: auto;
                    min-width: 96px;
                }

                & ~ .select2 {
                    @include font-size(select, super-header);

                    width: 32px;

                    @include breakpoint(midi) {
                        width: auto;
                        min-width: 96px;
                    }

                    &.select2-container--focus * {
                        outline: none;
                    }

                    .select2-selection {
                        height: $h-super-header + 1px;

                        background: color(green, darker);
                        border: none;
                        border-radius: 0;

                        .select2-selection__rendered {
                            line-height: $h-super-header;
                            color: color(white);

                            &:before {
                                display: inline-block;
                                position: relative;
                                top: -2px;
                                width: 16px;
                                height: 13px;
                                margin-right: 8px;

                                content: "";
                                vertical-align: middle;
                                outline: 1px solid #d8e7bd;
                            }

                            &[title="Finnish"] {
                                &:before {
                                    background: url(assets/images/flag-fi.png) no-repeat;
                                    background-size: 16px 13px;
                                }
                            }

                            &[title="English"] {
                                &:before {
                                    background: url(assets/images/flag-uk.jpg) no-repeat;
                                    background-size: 16px 13px;
                                }
                            }
                        }

                        .select2-selection__arrow {
                            display: none;
                        }
                    }
                }
            }
}

.select2-dropdown {
    @include font-size(select, super-header);

    margin-top: 1px;

    border: none !important;
    border-radius: 0 !important;
}

.select2-results__option {
    height: 26px;
    margin-bottom: 1px;
    color: transparent;
    background-color: color(gray, lighter);

    &:before {
        display: inline-block;
        position: relative;
        top: -2px;
        left: 2px;
        width: 16px;
        height: 13px;
        margin-right: 10px;

        content: "";
        vertical-align: middle;
        outline: 1px solid #d8e7bd;
    }

    &[aria-selected="true"] {
        display: none;
    }

    &[id$="/fi/"] {
        &:before {
            background: url(assets/images/flag-fi.png) no-repeat;
            background-size: 16px 13px;
        }
    }

    &[id$="/en/"] {
        &:before {
            background: url(assets/images/flag-uk.jpg) no-repeat;
            background-size: 16px 13px;
        }
    }

    @include breakpoint(midi) {
        height: auto;
        color: color(gray, darker);
    }
}

.select2-results__option--highlighted {
    overflow: hidden;
    color: $c-key !important;
    background-color: $c-key !important;

    @include breakpoint(midi) {
        color: color(white) !important;
    }
}