{% extends "base.twig" %}

{% block content_full %}
    {% do action('woo_custom_breadcrumb') %}
{% endblock %}

{% block content %}
    <div class="page--archive">
        {% do action('woocommerce_before_main_content') %}

        <div class="before-shop-loop">
            {% do action( 'woocommerce_before_shop_loop') %}
        </div>

        <div class="loop">
            <div class="archive__bar">
                {{ function('woocommerce_catalog_ordering') }}
                {{ function('woocommerce_result_count') }}
                {{ function('woocommerce_pagination') }}
            </div>
            {% for post in products %}

                {% include ["modules/_card.twig"] with {'post': post, 'class': 'card--wide', 'currency_symbol': currency_symbol} only %}

            {% endfor %}
        </div>

        {% do action('woocommerce_after_shop_loop') %}
        {% do action('woocommerce_after_main_content') %}
    </div>

{% endblock  %}