<div class="carousel">
    <div class="carousel__inner">
        <ul class="bxslider" id="carousel-hero">
            <li>
                <div class="carousel__content" style="background-image: url(/wp-content/themes/4yourhealth-2015/assets/images/hero-splash-product.png); background-position: bottom center;">
                    <div class="carousel__text">
                        <h2 class="carousel__title">Special offer -25%</h2>
                        <div class="carousel__subtext">Performance &amp; design.<br>Amazing product.</div>
                        <a href="#" class="carousel__link">Learn more</a>
                    </div>
                    <div class="carousel__price-badge">1450 €</div>
                </div>
            </li>
            <li>
                <div class="carousel__content" style="background-image: url(/wp-content/themes/4yourhealth-2015/assets/images/hero-splash-product.png); background-position: bottom center;">
                    <div class="carousel__text">
                        <h2 class="carousel__title">Special offer -25%</h2>
                        <div class="carousel__subtext">Performance &amp; design.<br>Amazing product.</div>
                        <a href="#" class="carousel__link">Learn more</a>
                    </div>
                    <div class="carousel__price-badge">1450 €</div>
                </div>
            </li>
        </ul>
    </div>
</div>