<div class="carousel">
    <div class="carousel__inner">
        <ul class="bxslider">
            <li>
                <div class="carousel__content">
                    <div class="carousel__text">
                        <h2 class="carousel__title">Special offer -25%</h2>
                        <div class="carousel__subtext">Performance &amp; design.<br>Amazing product.</div>
                        <a href="#" class="carousel__link">Learn more</a>
                    </div>
                    <div class="carousel__price-badge">1450 €</div>
                </div>
                <img src="http://placehold.it/1170x600" alt="Product on offer" class="carousel__img">
                <div class="carousel__bg--front"></div>
            </li>
            <li>
                <div class="carousel__content">
                    <div class="carousel__text">
                        <h2 class="carousel__title">Special offer -25%</h2>
                        <div class="carousel__subtext">Performance &amp; design.<br>Amazing product.</div>
                        <a href="#" class="carousel__link">Learn more</a>
                    </div>
                    <div class="carousel__price-badge">1450 €</div>
                </div>
                <img src="http://placehold.it/1170x600" alt="Product on offer" class="carousel__img">
                <div class="carousel__bg--front"></div>
            </li>
        </ul>
    </div>
</div>