<section class="newsletter-signup">
    <h5 class="newsletter-signup__title">Be the first to know</h5>
    <form action="">
        <input type="email" class="newsletter-signup__input" placeholder="Enter your email">
        <input type="submit" class="newsletter-signup__submit" value="Submit">
    </form>
</section>