<section class="showcase" id="showcase">
    <h2 class="showcase__title">{{ __('[:en]Our Products[:fi]Meidän tuotteet[:]') }}</h2>

    <div class="showcase__filter-bar">
        <a href="/?sort=bestseller#showcase" class="showcase__filter{% if sort == 'bestseller' or sort == false %} showcase__filter--is-selected{% endif %}" data-value="bestsellers">{{ __('[:en]Bestsellers[:fi]Suosituimat[:]')}}</a>
        <a href="/?sort=latest#showcase" class="showcase__filter{% if sort == 'latest' %} showcase__filter--is-selected{% endif %}" data-value="latest">{{ __('[:en]Latest[:fi]Viimeiset[:]')}}</a>
        <a href="/?sort=all#showcase" class="showcase__filter{% if sort == 'all' %} showcase__filter--is-selected{% endif %}" data-value="all">{{ __('[:en]All[:fi]Kaikki[:]')}}</a>
    </div>

    <div class="showcase__grid">
        {% for product in products %}
            {% include 'modules/_card_no_wc.twig' with {post: product, currency_symbol: currency_symbol} only %}
        {% endfor %}
    </div>

</section>