<div class="testimonials">
    <h5 class="testimonials__title">Testimonials</h5>
    <ul class="testimonials__carousel" id="carousel-testimonials">
        <li class="testimonials__slide">
            <div class="testimonials__bubble">
                <h6 class="testimonials__testimonial-title">Best service!</h6>
                <p>Your product is the best.<br>Yes the best!</p>
            </div>
            <div class="testimonials__side">
                <div class="testimonials__avatar">
                    <img src="http://placehold.it/70" alt="Client name" class="testimonials__avatar-img" width="70" height="70">
                </div>
                <div class="testimonials__details">
                    <div class="testimonials__name">Client</div>
                    <div class="testimonials__date">12.5.2015</div>
                </div>
            </div>
        </li>

        <li class="testimonials__slide">
            <div class="testimonials__bubble">
                <h6 class="testimonials__testimonial-title">Best service!</h6>
                <p>Your product is the best.<br>Yes the best!</p>
            </div>
            <div class="testimonials__side">
                <div class="testimonials__avatar">
                    <img src="http://placehold.it/70" alt="Client name" class="testimonials__avatar-img" width="70" height="70">
                </div>
                <div class="testimonials__details">
                    <div class="testimonials__name">Client</div>
                    <div class="testimonials__date">12.5.2015</div>
                </div>
            </div>
        </li>
    </ul>
</div>