{% extends "base.twig" %}

{% block content_full %}
    {% include 'modules/_carousel.twig' with { 'slides': slides } only %}
{% endblock %}

{% block content %}
    {% include 'modules/_showcase.twig' %}
    <h1 class="page-content__title">{{ post.post_title }}</h1>
    <div class="page-content__content">
        {{ post.content }}
    </div>

    {% include 'modules/_product_carousel.twig' with {'title': __('[:en]On Sale[:fi]Ale[:]'), 'subtitle': false, 'products': sale_products, currency_symbol: currency_symbol} only %}

{% endblock %}