$font: (
    body: (
        stack: "Arial, 'Helvetica Neue', Helvetica, sans-serif",
        weight: normal
    ),
    title: (
        stack: "'PT Sans', sans-serif",
        weight: 700
    ),
    subtitle: (
        stack: "'PT Sans', sans-serif",
        weight: 400
    ),
    special: (
        stack: "'Gudea', sans-serif",
        weight: 400
    )
);

$font-size: (
    body: (
        super-header: 14px,
        tease: 16px,
        base: 15px,
    ),
    title: (
        basket-popup: 15px,
        basket-popup-item: 16px,
        carousel: 35px,
        card: 19px,
        section: 42px,
        newsletter-signup: 28px,
    ),
    subtitle: (
        section: 17px,
    ),
    nav: (
        main: 17px,
    ),
    select: (
        super-header: 13px
    ),
    input: (
        base: 13px,
        lg: 15px
    ),
    button: (
        base: 13px,
        bigger: 14px
    ),
    list: (
        basket-popup: 14px,
        basket-item-qty: 16px,
    )
);