$font: (
    body: (
        stack: "Arial, 'Helvetica Neue', Helvetica, sans-serif",
        weight: normal
    ),
    title: (
        stack: "'PT Sans', sans-serif",
        weight: 700
    ),
    subtitle: (
        stack: "'PT Sans', sans-serif",
        weight: 400
    )
);

$font-size: (
    body: (
        super-header: 14px,
        tease: 16px,
        base: 15px,
    ),
    nav: (
        main: 17px,
    ),
    select: (
        super-header: 13px
    ),
    input: (
        base: 13px
    )
);