$font: (
    body: (
        stack: "'Lato', sans-serif",
        weight: 400
    ),
    logo: (
        stack: "'Vollkorn', serif",
        weight: 400
    )
);

$font-size: (
    body: (
        base: 16px
    )
);